{% extends 'blog/main.html' %}

    {% block main_section %}
    <div class="form-section text-center py-5">
        <h1 class="title_h2">Ви успішно вийшли з системи!</h1>
        <p class="lead">Дякуємо, що були з нами.</p>
        <hr class="my-4">
        <a href="{% url 'user' %}" class="btn btn-primary btn-lg me-3">Увійти знову</a>
        <a href="/" class="btn btn-secondary btn-lg">На головну</a>
    </div>
{% endblock main_section %}

    {% block aside_news_section %}
        <div class="bg-primary p-3 mb-3 rounded">
            <h3>Боковая панель - Контакты</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda aut, nulla sint ratione saepe quibusdam perspiciatis tempora nemo quas optio exercitationem sed voluptatem repellendus cupiditate odit iure, ducimus animi hic.</p>
            <a href="#" class="btn btn-light">Детальніше</a>
        </div>
        <div class="p-3 mb-3">
           <img src="https://avatars.mds.yandex.net/i?id=43f1a029d98aef8cb0091dba04947086_l-5292126-images-thumbs&n=27&h=480&w=480" class="img-fluid rounded" alt="Placeholder Image">
        </div>
    {% endblock aside_news_section %}